/* Add your styles here. */

* {
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 2em;
  color: #ea7070;
  background: #fae3d9;
}

h1{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #2E94B9;
}
h2,h3{
  color: #2E94B9;
}
